.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 67px;
    background-color: rgb(32, 34, 37);
    padding-top: 5px;
}

.sidebar-link-1,
.sidebar-link {
    border-top: 1px solid rgb(35, 36, 40);
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link-1 img,
.sidebar-link img {
    height: 24px;
    margin-bottom: 6px;
    height: 56px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 7px;
}
.sidebar-link-1 {
    margin-top: 15px;
}
.horizontal-line {
    top: 17px;
    border-top: 2px solid rgb(54, 57, 63);
    left: 20px;
    border-radius: 10px;
    width: 30px;
    position: absolute;
    transition: all 0.25s;
    opacity: 1;
    z-index: 100;
}