/* width */
::-webkit-scrollbar {
    width: 0.1px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0.1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(27, 28, 31);;
    border-radius: 10px;
}

.DMS-section {
    background-color: rgb(47, 49, 54);
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 159px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.Friends-Online {
    background-color: rgb(151, 154, 157);
}
.Friends-Activity {
    background-color: rgb(151, 154, 157);
}
.Friends-1 {
    font-size: 18px;
    vertical-align: top;
}
.friends-div {
    width: 230px;
    cursor: pointer;
    transition: all 0.25s;
}
.friends-div:hover {
    max-width: 145px;
    background-color: rgb(69, 73, 80);
    color: rgb(255, 255, 257);
    padding-right: 75px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
}