body {
    background-color: #222328
}
.Discord-Loader-gif {
    position: absolute;
    top: 270px;
    left: 585px;
    height: 150px;
    border-radius: 100px;
}
.loader {
    position: absolute;
    top: 270px;
    left: 585px;
    text-align: center;
    border: 16px solid #222328;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}